@use "reset";
@use "variables" as v;
@use "mixin" as m;




// header
header {
    position: fixed;
    display: flex;
    width: 100%;
    font-size: v.$fontSizedefault;
    margin-top: 1rem;

    img {
        width: 2rem;
    }
    nav{
        width: 100%;
    }
    .wrappers {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .wrapperLi{
    
        background-color: v.$backgroundColor;
        border-radius: 10rem;
        box-shadow: -1px 1px 11px 2px rgba(41,41,41,0.19);

        padding: 0.5rem 0;
        color: rgb(73, 73, 73);
    }


    ul {
        display: flex;
        padding: 0;
        margin: 0;

        li {
            
            list-style: none;
            display: inline-block;
            padding: 5px;
            cursor: pointer;
            transition: color 0.5s;

            a {
                color: rgb(190, 190, 190);
                text-decoration: none;
                font-weight: 500;

            }


        }

    }
}

li.active {

    a {           background-color: v.$backgroundColor;
        border-radius: 10rem;
        box-shadow: -1px 1px 11px 2px rgba(41,41,41,0.19);
        padding: 0.8rem 1.5rem;
        color: rgb(73, 73, 73);
    }

}

// Variables Globales

.container {
    max-width: 85rem;
    margin: 0 auto;
}




// main 

.block {
    height: 100vh;
}

#home {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    .wrappersName{
        display: flex;
    }
    strong{
        font-weight: 100;

    }

    hr {
        width: 25rem;
        text-align: center;
        margin: 2rem auto;
    }

    p {
        display: inline;
        text-shadow: 0px 3px 5px rgb(34, 34, 34,0.5);
        font-size: v.$fontSizeTitleXXLarge;
    }


}

#work{
    max-width: 60rem;
    margin: 0 auto;
    .wrappers{
        background-color: v.$backgroundColorSide;
        border-radius: 2rem;
        box-shadow: -1px 1px 11px 2px rgba(41,41,41,0.11);
        padding: 0.8rem 1.5rem;
        height: 25rem;
        padding: 2rem;
      
    }
}



// Footer


// Animation

@keyframes translateFirst {
    0% {
        transform: translateY(-500);
    }

    50% {
        transform: translateY(-250);
    }

    100% {
        transform: translateY(0);
    }

}